body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

header {
    background-image: url('../images/whale-banner.jpg');
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #000000;
    box-shadow: 0px 5px 5px #2B1B17;
    z-index: 800;
}

h1 {
    font-size: 63px;
    font-family: 'IM Fell English', serif;
    display: inline-block;
    color: #f7f4ea;
    margin-left: 18px;
    margin-right: 30px;
    padding-top: 43px;
    padding-bottom: 18px;
}

h4 {
    font-size: 23px;
    font-family: 'IM Fell English', serif;
    font-style: italic;
    display: inline-block;
    margin-right: 16px;
    margin-left: 20px;
    padding-bottom: 18px;
    color: #f7f4ea;
}

#map {
    position: fixed;
    top: 100px;
    bottom: 0px;
    width: 100%;
}

footer {
    position: fixed;
    width: 100%;
    height: 34px;
    bottom: 0px;
    background-color: #000000;
    z-index: 800;
}

p {
    font-family: 'IM Fell English', serif;
    font-size: 16px;
    color: #f7f4ea;
}

.mapbox-logo,
.leaflet-control-attribution {
    display: none;

}

.legend-large,
.legend-small {
    border-radius: 50%;
}

hr.small,
hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px dashed #ccc;
    /* overwrite assembly.css rule */
    margin-top: 8px;
    /* overwrite assembly.css rule */
}

a {
    color: #FBD62D;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.contact {
    line-height: 26px;
}

.contact a {
    color: #f7f4ea;
}

.contact a:hover {
    text-decoration: none;
}

/* Extent zoom buttons */

#northeast {
    color: #f7f4ea;
    padding: 2px;
    position: absolute;
    top: 177px;
    left: 10px;
    z-index: 400;
}

#san-fran {
    color: #f7f4ea;
    padding: 2px;
    position: absolute;
    top: 211px;
    left: 10px;
    z-index: 400;
}

#usa {
    color: #f7f4ea;
    padding: 2px;
    position: absolute;
    top: 245px;
    left: 10px;
    z-index: 400;
}

.extent-button:hover {
    cursor: pointer;
}

/* inline text zoom buttons */

.inline-zoom {
    cursor: pointer;
    color: #FBD62D;
}

/* Legend and layer control styling */

#legend {
    color: #f7f4ea;
    width: 133px;
}

.legend-text {
    font-family: 'IM Fell English', serif;
    font-size: 16px;
    font-weight: 500;
    color: #f7f4ea;
}

.leaflet-control-layers-expanded {
    color: #f7f4ea;
    background-color: rgba(0, 0, 0, 0.75);
    border-style: none !important;
    border-radius: 0px 0px 0px 4px;
    width: 114px;
    position: absolute;
    right: 169px;
    top: 35px;
}

#port-legend {
    line-height: 2.1em;
    padding: 3px 31px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: solid 1px rgb(247, 244, 234, 0.75);
    position: absolute;
    z-index: 700;
    right: 152px;
    top: 110px;
}

.port-legend-icon {
    margin: 6px 6px 6px 8px;
}

.port-text {
    font-size: 14.5px;
}

#layer-info {
    border-radius: 0px 0px 4px 0px;
    height: 102px;
    z-index: 700;
    position: absolute;
    right: 152px;
    top: 145px;
}

.layer-title {
    font-family: 'IM Fell English', serif;
    font-size: 14.5px;
    line-height: 2.1em;
}

.sperm-circle {
    display: inline-block;
    margin: 11px 6px 0px 0px;
    font-size: 21px;
    color: #FBD62D;
}

.sperm-circle:hover {
    opacity: .6;
    cursor: pointer;
}

.whale-circle {
    display: inline-block;
    font-size: 21px;
    color: #1a1aff;
}

.whale-circle:hover {
    opacity: .6;
    cursor: pointer;
}

.bone-circle {
    display: inline-block;
    padding-bottom: 0px;
    font-size: 21px;
    color: #FCFCF7;
}

.bone-circle:hover {
    opacity: .6;
    cursor: pointer;
}

/* About Modal*/

#about-button {
    background-color: rgb(0, 0, 0, 0.85);
    opacity: 0.9;
    position: absolute;
    z-index: 1000;
    top: 0px;
    right: 0px;
    padding: 2px 8px;
    border-radius: 0px 0px 0px 4px;
}

.about-button {
    color: #f7f4ea;
    z-index: 1000;
}

.about-button:hover {
    color: rgb(247, 244, 234, 0.8);
    cursor: pointer;
}


/* Port info modal with sparklines */

#info {
    font-weight: 500;
    z-index: 400;
    position: absolute;
    width: 367px;
    bottom: 118px;
    left: 11px;
}

#info-close {
    color: #f7f4ea;
    float: right;
    font-size: 1.4em;
    font-weight: bold;
}

#info-close:hover,
#info-close:focus {
    color: rgba(75, 75, 75, .9);
    text-decoration: none;
    cursor: pointer;
}

.port-name {
    font-family: 'IM Fell English', serif;
    font-size: 26px;
    color: #f7f4ea;
    padding-bottom: 14px;
    padding-left: 2px;
    border-bottom: solid 0.5px #f7f4ea;
}

.sparkline-title {
    font-family: 'IM Fell English', serif;
    font-size: 22px;
    margin-top: 1px;
}

.title-of {
    font-size: 18px;
    font-style: italic;
}

.sparkline-sub {
    font-family: 'IM Fell English', serif;
    font-size: 16px;
    margin-bottom: 1px;
}

.port-product {
    font-family: 'IM Fell English', serif;
}

.sperm {
    font-family: 'IM Fell English', serif;
    font-size: 22px;
    color: #f7f4ea;
    text-align: right;
    margin-top: 28px;
    margin-right: 20px;
}

.whale {
    font-family: 'IM Fell English', serif;
    font-size: 22px;
    color: #f7f4ea;
    text-align: right;
    margin-top: 23px;
    margin-right: 20px;
}

.bone {
    font-family: 'IM Fell English', serif;
    font-size: 22px;
    color: #f7f4ea;
    text-align: right;
    margin-top: 23px;
    margin-right: 20px;
}


/* sparkline styling */

.jqstooltip {
    box-sizing: content-box;
    border: none !important;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    font-family: 'Lora', serif !important;
}

/* Tooltips */

.sperm-tt-icon {
    display: inline;
    margin: 0px 0px -6px 0px;
    padding: 0px;
    font-size: 24px;
    color: #FBD62D;
}

.whale-tt-icon {
    display: inline;
    margin: 0px 0px -6px 0px;
    padding: 0px;
    font-size: 24px;
    color: #1a1aff;
}

.bone-tt-icon {
    display: inline;
    margin: 0px 0px -6px 0px;
    padding: 0px;
    font-size: 24px;
    color: #FCFCF7;
}

.leaflet-tooltip {
    z-index: 1000;
    background-color: rgb(0, 0, 0, 0.85);
    border-radius: 4px;
    padding: 12px;
    color: #f7f4ea;
    border: none;
}

.leaflet-popup-tip-container {
    display: none;
}

.tooltip-title {
    font-family: 'IM Fell English', serif;
    padding-bottom: 4px;
    margin-bottom: 9px;
    border-bottom: solid 0.5px #f7f4ea;
    font-size: 20px;
}

.tooltip-product {
    font-family: 'IM Fell English', serif;
    font-size: 20px;
}

.tooltip-body {
    margin-top: 5px;
    font-family: 'Lora', serif;
    font-size: 14px;
}

.tooltip-info-text {
    font-family: 'IM Fell English', serif;
    font-size: 14px;
    padding-right: 8px;
    font-style: italic;
}

.triangle {
    color: rgba(0, 0, 0, 0.75);
}

.turning-point-1 {
    color: #f7f4ea;
    font-size: 15px;
    position: absolute;
    bottom: 53px;
    left: 117px;
    z-index: 1000;
}

.tp-tooltip-1 {
    visibility: hidden;
    font-family: 'IM Fell English', serif;
    color: #f7f4ea;
    font-size: 16px;
    position: absolute;
    bottom: 19px;
    left: -52px;
    width: 124px;
    z-index: 900;
}

.turning-point-1:hover .tp-tooltip-1 {
    visibility: visible;
}

.turning-point-2 {
    color: #f7f4ea;
    font-size: 15px;
    position: absolute;
    bottom: 53px;
    left: 146px;
    z-index: 1000;
}

.tp-tooltip-2 {
    visibility: hidden;
    font-family: 'IM Fell English', serif;
    color: #f7f4ea;
    font-size: 16px;
    position: absolute;
    bottom: 19px;
    left: -80px;
    width: 180px;
    z-index: 900;
}

.turning-point-2:hover .tp-tooltip-2 {
    visibility: visible;
}

.turning-point-3 {
    color: #f7f4ea;
    font-size: 15px;
    position: absolute;
    bottom: 53px;
    left: 171px;
    z-index: 1000;
}

.tp-tooltip-3 {
    visibility: hidden;
    font-family: 'IM Fell English', serif;
    color: #f7f4ea;
    font-size: 16px;
    position: absolute;
    bottom: 19px;
    left: -85px;
    width: 190px;
    z-index: 900;
}

.turning-point-3:hover .tp-tooltip-3 {
    visibility: visible;
}

.turning-point-4 {
    color: #f7f4ea;
    font-size: 15px;
    position: absolute;
    bottom: 53px;
    left: 238px;
    z-index: 1000;
}

.tp-tooltip-4 {
    visibility: hidden;
    font-family: 'IM Fell English', serif;
    color: #f7f4ea;
    font-size: 16px;
    position: absolute;
    bottom: 19px;
    left: -85px;
    width: 190px;
    z-index: 900;
}

.turning-point-4:hover .tp-tooltip-4 {
    visibility: visible;
}

.turning-point-5 {
    color: #f7f4ea;
    font-size: 15px;
    position: absolute;
    bottom: 53px;
    left: 263px;
    z-index: 1000;
}

.tp-tooltip-5 {
    visibility: hidden;
    font-family: 'IM Fell English', serif;
    color: #f7f4ea;
    font-size: 16px;
    position: absolute;
    bottom: 19px;
    left: -95px;
    width: 210px;
    z-index: 900;
}

.turning-point-5:hover .tp-tooltip-5 {
    visibility: visible;
}

.turning-point-6 {
    color: #f7f4ea;
    font-size: 15px;
    position: absolute;
    bottom: 53px;
    left: 285px;
    z-index: 1000;
}

.tp-tooltip-6 {
    visibility: hidden;
    font-family: 'IM Fell English', serif;
    color: #f7f4ea;
    font-size: 16px;
    position: absolute;
    bottom: 19px;
    left: -95px;
    width: 210px;
    z-index: 900;
}

.turning-point-6:hover .tp-tooltip-6 {
    visibility: visible;
}

.turning-point-7 {
    color: #f7f4ea;
    font-size: 15px;
    position: absolute;
    bottom: 53px;
    left: 307px;
    z-index: 1000;
}

.tp-tooltip-7 {
    visibility: hidden;
    font-family: 'IM Fell English', serif;
    color: #f7f4ea;
    font-size: 16px;
    position: absolute;
    bottom: 19px;
    left: -95px;
    width: 210px;
    z-index: 900;
}

.turning-point-7:hover .tp-tooltip-7 {
    visibility: visible;
}

.turning-point-8 {
    color: #f7f4ea;
    font-size: 15px;
    position: absolute;
    bottom: 53px;
    left: 328px;
    z-index: 1000;
}

.tp-tooltip-8 {
    visibility: hidden;
    font-family: 'IM Fell English', serif;
    color: #f7f4ea;
    font-size: 16px;
    position: absolute;
    bottom: 19px;
    left: -95px;
    width: 210px;
    z-index: 900;
}

.turning-point-8:hover .tp-tooltip-8 {
    visibility: visible;
}

.turning-point:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

/* info modal background */

.modal {
    display: none;
    font-weight: 500;
    z-index: 800;
    position: absolute;
    width: 367px;
    bottom: 118px;
    left: 11px;
}

/* modal content */

.title-year {
    font-size: 22px;
    padding-bottom: 14px;
    margin-top: -6px;
}

.modal-title {
    font-family: 'IM Fell English', serif;
    font-size: 26px;
    color: #f7f4ea;
    padding-bottom: 14px;
    border-bottom: solid 0.5px #f7f4ea;
}

.modal-content {
    font-size: 16px;
    line-height: 20px;
    margin: auto;
    padding: 16px;
    max-height: 280px;
    overflow: auto;
}

.caption {
    font-size: 13px;
    font-style: italic;
    color: #d3d3d3;
}

/* modal close button */

.close {
    color: #f7f4ea;
    float: right;
    font-size: 1.4em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(75, 75, 75, .9);
    text-decoration: none;
    cursor: pointer;
}

/* style zoom control */

.leaflet-bar {
    border-style: none !important;
}

.leaflet-bar a {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #f7f4ea;
}

.leaflet-bar a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.leaflet-control-zoom-in {
    margin-bottom: 3px;
    border-style: none !important;
    border-radius: 4px !important;
}

.leaflet-control-zoom-out {
    border-style: none !important;
    border-radius: 4px !important;
}

#slider {
    position: absolute;
    height: 40px;
    bottom: 0px;
    left: 68px;
    z-index: 1000;
}

#year-legend {
    height: 40px;
    position: absolute;
    bottom: 0px;
    width: 60px;
}

.year {
    font-family: 'IM Fell English', serif;
    font-size: 22px;
}

/* Responsive style for header and map on narrower screens */

@media screen and (max-width: 900px) {
    header {
        height: 122px;
    }

    #map {
        top: 122px;
    }

    #layer-info {
        top: 167px;
    }

    #port-legend {
        top: 132px
    }

    #northeast {
        top: 132px;
        left: 46px;
    }

    #san-fran {
        top: 165px;
        left: 46px;
    }

    #usa {
        top: 198px;
        left: 46px;
    }
}


@media screen and (max-width: 549px) {
    header {
        height: 140px;
    }

    #map {
        top: 140px;
    }

    #layer-info {
        top: 185px;
    }

    #port-legend {
        top: 150px
    }

    #northeast {
        top: 150px;
        left: 46px;
    }

    #san-fran {
        top: 183px;
        left: 46px;
    }

    #usa {
        top: 216px;
        left: 46px;
    }
}
